{
  "extends": "google",
  "parser": "babel-eslint",
  "rules": {
    "no-unused-vars": ["warn"],
    "require-jsdoc": ["off"],
    "jsx-quotes": [1, "prefer-single"],
    "jsx-a11y/no-static-element-interactions": 0,
    "max-len": ["error", { "code": 80, "ignoreTrailingComments": true }],
    "no-use-before-define": [2, "nofunc"],
    "no-shadow": 0,
    "prefer-const": 1,
    "quote-props": [1, "consistent-as-needed"],
    "react/no-multi-comp": 0,
    "react/prop-types": 0,
    "react/no-array-index-key": 0
    // Additional, per-project rules...
  }
}
