body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(51, 51, 51);
}
@font-face {
    font-family: "Museo Slab 900";
    src: url(./Assets/Fonts/Museo_Slab_900.otf);
}

@font-face{
	font-family: "Chaparral Pro Regular";
	src: url(./Assets/Fonts/ChaparralPro-Regular.otf);
}

h1, h2, h3 {
	font-family: "Museo Slab 900";
}

h2{
	font-size:1.7rem;
}

p{
	font-family: "Chaparral Pro Regular";
}

/* KOLLA ÖVER BREDD*/
.quiz-container{
	margin:auto;
	max-width:1000px;
}

.footer{
	right:0;
	left:0;
	margin-bottom:1rem;
	margin-top:15%;
}
.footer h3{
	font-family: "Museo Slab 900";
	color:white;
	font-size:2rem;
	padding:0px;
	margin:0px;
}

.footer p{
	font-family: "Proxima Nova";
	color: rgba(255, 255, 255, 0.7);
	font-size:0.7rem;
	padding:0px;
	margin:0px;
}



/*ANSWER SECTION */

.answer-content{
	background-color: rgb(51,51,51);
  	padding: 20px 50px 20px 50px;

  	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(200px, auto);
}

.left-answer-column{
	grid-column: 1;
	grid-row: 1;
	text-align: left;
}

.right-answer-column{
	grid-column: 2;
	grid-row: 1;
}

.right-answer-column p{
	text-align: left;
}
.right-answer-column button{
	float: right;
	margin-top: 50px;
}

.next-question-button{
	background-color: rgb(238,81,46);
	color: white;
	height: 50px;
	width: 150px;
	font-size: 22px;
	border: none;
	border-radius: 5px;
}
/*END OF ANSWER SECTION*/

/*QUIZ QUESTION AND OPTIONS */

.answer-options3{
	display: grid;
	grid-template-columns: repeat(3);
	grid-gap: 25px;
	grid-auto-rows: minmax(100px, auto);
	grid-auto-columns: minmax(200px, auto);
}

.answer-options3 #ans0{
	grid-column: 1;
	grid-row: 1;
}

.answer-options3 #ans1{
	grid-column: 2;
	grid-row: 1;
}

.answer-options3 #ans2{
	grid-column: 3;
	grid-row: 1;
}

.answer-options4{
	display: grid;
	grid-template-columns: repeat(3);
	grid-gap: 20px;
	grid-auto-rows: minmax(100px, auto);
	grid-auto-columns: minmax(200px, auto);
}

.answer-options4 #ans0{
	grid-column: 1;
	grid-row: 1;
}

.answer-options4 #ans1{
	grid-column: 2;
	grid-row: 1;
}

.answer-options4 #ans2{
	grid-column: 3;
	grid-row: 1;
}

.answer-options4 #ans3{
	grid-column: 4;
	grid-row: 1;
}

.answer-options3 button, .answer-options4 button{
	min-height:8rem;
	background-color: rgb(238, 81, 46);
	border:none;
	text-align: center;
	color:white;
	font-family: "Chaparral Pro Regular";
	font-size:1rem;
	width:100%;
	border-radius:5px;
}

@media (max-width: 500px){
	.display-question{
		margin: 2rem;
	}

	.answer-options3{
		display: grid;
		grid-template-columns: repeat(1);
		grid-template-rows:3;
		grid-auto-rows: minmax(100px, auto);
		margin-left:2rem;
		margin-right:2rem;
	}

	.answer-options3 #ans0{
		grid-column: 1;
		grid-row: 1;
	}

	.answer-options3 #ans1{
		grid-column: 1;
		grid-row: 2;
	}

	.answer-options3 #ans2{
		grid-column: 1;
		grid-row: 3;
	}

	.answer-options4{
		display: grid;
		grid-template-columns: repeat(1);
		grid-template-rows:3;
		grid-auto-rows: minmax(100px, auto);
		margin-left:2rem;
		margin-right:2rem;
	}

	.answer-options4 #ans0{
		grid-column: 1;
		grid-row: 1;
	}

	.answer-options4 #ans1{
		grid-column: 1;
		grid-row: 2;
	}

	.answer-options4 #ans2{
		grid-column: 1;
		grid-row: 3;
	}

	.answer-options4 #ans3{
		grid-column: 1;
		grid-row: 4;
	}

	.answer-options3 button, .answer-options4 button{
		min-height:4rem;
	}
}
